@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  background-color: #212121


  ;
  @apply p-2 px-4 rounded-md
}

.slide-bottom {
  -webkit-animation: slide-bottom 2s cubic-bezier(0.5, 0, 0, 1) both;
  animation: slide-bottom 2s cubic-bezier(0.5, 0, 0, 1) both;
}

.slide-bottom-100ms {
  -webkit-animation: slide-bottom 2s cubic-bezier(0.5, 0, 0, 1) both;
  animation: slide-bottom 2s cubic-bezier(0.5, 0, 0, 1) both;
  animation-delay: 100ms;
}
.slide-bottom-150ms {
  -webkit-animation: slide-bottom 2s cubic-bezier(0.5, 0, 0, 1) both;
  animation: slide-bottom 2s cubic-bezier(0.5, 0, 0, 1) both;
  animation-delay: 150ms;
}
.slide-bottom-200ms {
  -webkit-animation: slide-bottom 2s cubic-bezier(0.5, 0, 0, 1) both;
  animation: slide-bottom 2s cubic-bezier(0.5, 0, 0, 1) both;
  animation-delay: 200ms;
}
.slide-bottom-300ms {
  -webkit-animation: slide-bottom 2s cubic-bezier(0.5, 0, 0, 1) both;
  animation: slide-bottom 2s cubic-bezier(0.5, 0, 0, 1) both;
  animation-delay: 300ms;
}
.slide-bottom-400ms {
  -webkit-animation: slide-bottom 2s cubic-bezier(0.5, 0, 0, 1) both;
  animation: slide-bottom 2s cubic-bezier(0.5, 0, 0, 1) both;
  animation-delay: 400ms;
}


@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateY(160px);
    transform: translateY(160px);
    opacity: 1;
    visibility:visible;

  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(160px);
    transform: translateY(160px);
  }
}
