@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  border: 2px white solid;
}

.slide-bottom {
  -webkit-animation: slide-bottom 2.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  animation: slide-bottom 2.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}

.slide-bottom-100ms {
  -webkit-animation: slide-bottom 2.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  animation: slide-bottom 2.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  animation-delay: 100ms;
}
.slide-bottom-200ms {
  -webkit-animation: slide-bottom 2.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  animation: slide-bottom 2.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  animation-delay: 200ms;
}
.slide-bottom-300ms {
  -webkit-animation: slide-bottom 2.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  animation: slide-bottom 2.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  animation-delay: 300ms;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(160px);
    transform: translateY(160px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(160px);
    transform: translateY(160px);
  }
}
